*{
    margin: 0;
    padding: 0;
}
p{
    color: #585859;
}
header{
    background-color: #F0FFF0;
    width: 100%;
}
.menu-area {
    padding: 15px 0;
}
.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}
.btn {
    padding: 8px 30px;
    border-radius: 20px;
}
.btn:hover{
    color: white;
}
.btn-color{
    background-color: #21B573;
    color: white;
}
.nav-item{
    margin-right: 45px;
}
.nav-link{
    font-size: 18px;
    color: #000;
}
.banner{
    height: 470px;
}
.banner-img-area img{
    width: 100%;
}
.banner h1{
    font-size: 50px;
    font-weight: 700;
}
.banner p{
    font-size: 20px;
}
.counter-area{
    margin: 100px 0;
    width: 100%;
}
.counter{
    height:285px;
    width: 100%;
    background-color: #F8FFFB;
    border-radius: 10px;
}
.counter:hover{
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: -3px 11px 18px 6px rgba(234,234,234,0.74);
}
.counter-img{
    width: 65px;
}
.counter-img img{
    width: 100%;
}
.counter h5{
    font-size: 24px;
    font-weight: 700;
    color: #413960;
}
.counter p{
    color: #585859;
    font-size: 18px;
    font-weight: 500;
}
.onliner-courses-area{
    padding: 50px 0;
}
.online-courses-title{
    margin-bottom: 50px;
}

.online-courses-title h3{
    font-size: 35px;
    font-weight: 700;
    color: #413960;
}
.card{
    border: none;
    box-shadow: -1px 1px 25px 4px #E6E0E8;
    border-radius: 15px;
}
.card-body p{
    font-size: 18px;
}
.card-footer{
    border: none;
    background: #fff;
    border-radius: 15px !important;

}
.course-date{
    width: 56%;
}
.date-icon{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.date-icon img{
    width: 100%;
}
.course-date p{
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #585859;
}
.course-seat{
    width: 40%;
}
.seat-icon{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.seat-icon img{
    width: 100%;
}
.course-seat p{
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #585859;
}
.testimonial-area{
    margin-bottom: 50px;
}

.testimonial-area-title h3 {
    font-size: 35px;
    font-weight: 700;
    color: #413960;
}
.testomonial-carousel{
    margin-top: 50px;
}
.carousel-item{
    height: 260px;
    padding: 100px;
}
.carousel-item p{
    font-size: 18px;
    color: black;
}
.client-img{
    width: 80px;
    height: 80px;
}
footer{
    width: 100%;
    background-color: #282531;
    padding: 50px 0;
}
footer p{
    color: white;
}
.copyright-section{
    width: 100%;
}
